<div class="form-meals">
<h2> Allergies and categories </h2>
  <%= simple_form_for [@meal, @meal_ingredient] do |f| %>
    <%#= f.association :ingredient, label: "Faites dérouler la liste" %>
    <%= f.input :ingredient, collection: Ingredient::ALLERGIES, input_html: { class: "js-example-basic-multiple", name: "ingredient[]", multiple: "multiple" } %>
    <%= render "meal_categories/precisions_form" %>
    <%#= f.submit "Ajouter au plat", input_html: {class: "button"} %>
  <% end %>
</div>
