<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/1000x500);">
  <div class="container">
    <h1><strong>PO'POTES </strong>!</h1>
    <p>Cuisinez, mangez et partagez</p>
    <!-- <a class="btn btn-medium" href="#">Eat now</a> -->
    <div class="search-form-control form-group d-flex">
       <input class="form-control string required" type="text" name="search[query]" id="search_query" />
       <button name="button" type="submit" class="btn btn-flat">
         <i class="fas fa-search"></i> Search
        </button>
     </div>
  </div>
</div>




<div class="category-container">

    <div class="category-item">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Breakfast
      </div>
    </div>

    <div class="category-item">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Last minute deals
      </div>
    </div>

    <div class="category-item">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Today's meals
      </div>
    </div>

    <div class="category-item">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Chinese
      </div>
    </div>

    <div class="category-item">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Chinese
      </div>
    </div>

     <div class="category-item">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Chinese
      </div>
    </div>

  </div>
