<div class="form-meals">
  <h2> Modifier votre repas </h2>
  <%= render 'form', meal: @meal %>
  <p> <%= link_to 'ajouter allergène', new_meal_meal_ingredient_path(@meal) %> </p>

<ul><% @meal.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %> </li>
  <% end %></ul>
</div>
