<div class="form-meals">
  <h2> Entrer votre délicieux repas </h2>
  <%= render 'form', meal: @meal %>
</div>

<div class="back-button-container d-flex">
  <%= link_to "Back to meals", meals_path, class: "little-button-yellow" %>
</div>
