<h2><%= @meal.name %></h2>
<span> <%= cl_image_tag @meal.photo %> </span>
<p> <%= link_to 'ajouter allergène', new_meal_meal_ingredient_path(@meal) %> </p>

<ul><% @meal.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %> </li>
  <% end %></ul>

