.button {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #036B70;
  transition: background 0.3s ease;
  opacity: 1;
  width: 100%;
  text-align: center;
}

.little-button-yellow {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #F8E865;
  transition: background 0.3s ease;
  opacity: 1;
  width: 40;
}

.button:hover {
  color: white;
  opacity: 0.8;
}

.back-button-container {
width: 100vh;
}

.back-button button {
justify-content: space-around;
}


