.button {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #036B70;
  transition: background 0.3s ease;
  opacity: 1;
  width: 100%;
}

.button:hover {
  color: white;
  opacity: 0.8;
}
