.card-items {
  overflow: hidden;
  height: 200px;
  width: 1100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px;
}

.card-items img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-items h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 3px;
}

.card-items h5 {
  font-size: 18px;
  font-weight: lighter;
  padding: 2px;
  font-family: $body-font;
}

.card-items p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-items .card-item-infos {
  padding: 16px;
}
