.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup-content p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mapboxgl-popup .button a {
decoration: none;
color: white !important;
}

// .map-link {

// }
