.card-disable {
  cursor: not-allowed;
  opacity: .5
}

.card-disable.grey {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.meal-card-image.card-disable span {
margin-left: 10px;
margin-top: 10px;
opacity: 1;
}

.card-disable.meal-card span {
  opacity: 1 !important;
  margin-left: 5px;
}

.flex {
  display: flex;
  position: bottom;
}

.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-disable.grey {
  background-color: rgba(150, 150, 150, 1) !important;
}

.meal-card {
  width: 100%;
  position: relative;
  color: black;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.box:hover {
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

.meal-card-image {
  height: 180px;
  background-position: center;
  background-size: cover;
}

.meal-card-content {
  // display: flex;
  padding: 24px;
  text-decoration: none;
  background-color: #F8F9FA;
  height: 200px;
}

a:hover {
  text-decoration: none;
}

.meal-card-title {
  position: top;
}

.flex {
  display: flex;
  position: bottom;
}


