.flex {
  display: flex;
}

.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.meal-card {
  width: 100%;
  position: relative;
  color: black;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.meal-card-disabled {
  cursor: not-allowed;
  opacity: .3;
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}


.box:hover {
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

.meal-card-image {
  height: 180px;
  background-position: center;
  background-size: cover;
}

.meal-card-content {
  padding: 24px;
  text-decoration: none;
  background-color: #F8F9FA;
}

a:hover {
  text-decoration: none;
}

