.meal-card {
  width: 100%;
  position: relative;
  color: black;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.meal-card-disabled {
  background-color: black;
}

.box:hover {
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

a:hover {
  text-decoration: none;
}

.meal-info {
  display: flex;
  position: absolute;
  bottom: 10px;
}

.meal-card-image {
  height: 180px;
  background-position: center;
  background-size: cover;
}

.meal-card-image span {
  opacity: 0;
}

.meal-card-content {
  padding: 24px;
  text-decoration: none;
  background-color: #F8F9FA;
  height: 200px;
}

.meal-card-title {
  position: top;
}

.flex {
  display: flex;
  position: bottom;
  justify-content: align-items;
}

.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grey {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(150, 150, 150, 0);
}



