.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo {
  width: 150px;
  margin-left: 30px;
}

.navbar-collapse {
  margin-right: 30px;
  margin-left: 5px;
}

.navbar-brand {
  margin-right: none !important;
}

.nav-item {
  text-align: center;
}

.dropdown {
  margin-bottom: 8px;
}

.dropdown-toggle {
  margin-top: 5px;
}

.avatar {
  margin-left: 10px;
}

.border-none {
  border: none;
}
