.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}

.border-none {
  border: none;
}
// .searching {
//   margin-left: 40px;
// }

.avatar {
  margin-left: 10px;
}

.dropdown {
  margin-bottom: 8px;
}

.nav-item {
  text-align: center;
}

.dropdown-toggle {
  margin-top: 5px;
}
