.meal-banner {
  height: 300px;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center;
}

.meal_header img {
  border-radius: 50%;
  height: 70px;
}

.description-and-orders {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
}

.title-and-avatar {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding-right: 20px;

}

.user_pic_and_name {
  border-radius: 50%;
  width: 56px;

}

.meal_big_titles h3 {
  font-size: 20px;
  padding-top: 10px;
}

.meal_category_badge {
  border-radius: 15px;
  color: white;
  background: #eb7070;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  padding: 8px 15px;
  display: inline-block;
}



.meal_text {
  padding-top: 40px;
}

.total-price {
  margin-left: 120px;
}

.allergies {
 border: 1px solid rgb(80, 80, 80);
 padding: 10px 15px;
 margin-right: 20px;
 margin-bottom: 15px;
}

.allergies ul {
  list-style: none;
  padding-left: 0;
}

.review-global-rating h3 {
  margin: 0;
  padding: 0 !important;
}

.review-author {
  text-transform: uppercase;
  font-weight: 400;
}

////// TA CODE

.meal-main-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.left-content {
  flex-grow: 1;
  padding-right: 20px;
}

.right-content {
  position: sticky;
  top: 20px;
}
