.meal-banner {
  height: 300px;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center;
}

.meal_header img {
  border-radius: 50%;
  height: 70px;
}

.meal_text {
  padding-top: 40px;
}

.total-price {
  margin-left: 120px;
}
