.meal-banner {
  height: 300px;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center;
}

.meal_header img {
  border-radius: 50%;
  height: 70px;
}

.meal_text {
  padding-top: 40px;
}

.total-price {
  margin-left: 120px;
}

.allergies li {
 border: 1px solid rgb(80, 80, 80);
 display: inline-block;
 padding: 10px 15px;
 margin-right: 20px;
 margin-bottom: 15px;
}

.allergies ul {
  list-style: none;
  padding-left: 0;
}
